.user-input {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 670px;
  justify-content: center;
  margin: auto;
  gap: 2rem;
  box-sizing: border-box;

  &__title {
    font-size: 3rem;
    text-align: start;
    margin-bottom: 0;
    font-weight: 100;
    font-weight: 100;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    align-items: flex-end;
    width: 100%;
  }

  &__input {
    padding: 1rem;
    width: 100%;
  }

  &__button {
    max-width: fit-content;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: #FF6440;
    font-weight: 400;
    font-size: 0.9rem;
    border-radius: 4rem;
    line-height: 1;
    border: none;
    color: #0E0530;

    &:hover {
      text-decoration: underline;
    }

    &:disabled {
      cursor: no-drop;
      opacity: 30%;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__error {
    color: #E83138;
  }
}
